################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/StupidToDo.csproj.user
/Properties/PublishProfiles
