################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StupidToDo
/bin/Debug
/obj
/StupidToDo.csproj.user
